version: '3.8'

services:
  nextjs:
    build: .
    container_name: next-app
    restart: always
    ports:
      - "3000:3000"

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
